table {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    border: 1px solid;
}
pre {
    padding: 9.5px;
    margin: 4px 0 10px;
    border: 1px solid #333;
    border-radius: 2px;
    background-color: #fcfcfc;
}
